<div class="main-box6">
    <div class="main-container10">
        <div class="container-q">
            KINOUS　　　
        </div>
        <div class="container-r">
            <p><span class="midasi5">さらなる健康を<br>
            <p><span class="midasi5">求めて<br>
            <p>サイトの想い<br>
        </div>
    </div>
    
    <div class="main-container11">
        <div class="container-s">
            <div class="image">
            <%= image_tag 'sa.jpg', class:"as" %>
            </div>
        </div>
        <div class="container-t">
            <%= link_to "ホーム　・　サイトの想い", root_path %>
            
        </div>
    </div>
</div>
<div class="main-box7">
    <div class="main-container12">
        <div class="container-u">
            <div class="image">
            <%= image_tag 'omoi.jpg', class:"au" %>
            </div>
        </div>
    </div>
    <div class="main-container13">
        <div class="container-abb">
            <p>WEBSITE MESSAGE 01<br>
            <p><span class="midasi6">サイトの想い<br>
        </div>
        <div class="container-aw">
            <p>このサイトは、ユーザーの健康をワンランクアップ<br>
            <p>させるための手助けをすることを<br>
            <p>目的としています。<br>
            <br>
            <br>
            <p>近年、人々の健康に対する意識の高まりから、<br>
            <p>ジムブームやサウナブームが来ていたり、<br>
            <p>食生活についても見直されてきています。<br>
            <p>そのため、「体に脂肪がつきにくい」<br>
            <p>「睡眠の質を向上させる」などの文言を<br>
            <p>押し出した製品の需要は今後さらに<br>
            <p>増加するといわれています。<br>
            <br>
            <br>
            <p>そのような健康をサポートする<br>
            <p>食品・製品に含まれている特定の成分のことを<br>
            <p>「機能性成分」といいます。<br>
            <p>このサイトでは、この「機能性成分」を紹介し、<br>
            <p>ユーザーが求めている理想の食品・製品を<br>
            <p>見つけるきっかけとなることを目指しています。<br>
        </div>
    </div>
</div>
<div class="main-box8">
    <div class="main-container14">
        <div class="container-ax">
            <p>WEBSITE MESSAGE 02<br>
            <p><span class="midasi6">サイトの役割<br>
        </div>
        <div class="container-ay">
            <p>このサイトには大きく2つの役割があります。<br>
            <p>１つ目は「機能性成分の紹介」、<br>
            <p>２つ目は「ユーザーの製品レビュー」です。<br>
            <br>
            <br>
            <br>
            <p>１つ目の「機能性成分の紹介」は<br>
            <p>具体的にどんな成分があり、それはどんな効果で、<br>
            <p>どんな食品に含まれているのか紹介するという<br>
            <p>役割があります。<br>
            <p>「機能性成分」は非常に種類が多く、<br>
            <p>あなたの知らない成分・効果もあるはずです。<br>
            <p>だからこそ興味を持った成分を試してみることで<br>
            <p>新しい発見ができるかもしれません。<br>
        </div>
    </div>
    <div class="main-container15">
        <div class="container-az">
            <div class="image">
            <%= image_tag 'ha.jpg', class:"az" %>
            </div>
        </div>
    </div>
</div>
<div class="main-box9">
    <div class="main-container16">
        <div class="container-aa-a">
            <div class="image">
            <%= image_tag 'ya.jpg', class:"aa-a" %>
            </div>
        </div>
    </div>
    <div class="main-container17">
        
        <div class="container-acc">
            <p>２つ目の「ユーザーの製品レビュー」では<br>
            <p>ユーザー同士で効果が製品について効果の有無や<br>
            <p>感想などを共有することができます。<br>
            <br>
            <br>
            <p>特にこのレビューでは商品の情報だけでなく、<br>
            <p>投稿者本人の年齢・性別・体型などの<br>
            <p>パーソナルな情報も投稿できるようにしています。<br>
            <br>
            <br>
            <p>「機能性成分」の健康機能の研究では、<br>
            <p>ヒトでの有効性には年齢や性別、体型など<br>
            <p>多くの要素が関係しており、<br>
            <p>一概に効果が得られるとは言い難く、<br>
            <p>最終的な科学的根拠を得たものは<br>
            <p>非常に少ないのが現状です。<br>
            <p>そのため、実際に投稿・閲覧することで<br>
            <p>あなた自身にも有効性の有無があるのかどうか <br>
            <p>検討する材料になれば幸いです。<br>
        </div>
    </div>
    
</div>
<br><hr class="style"><br>
