<div class="main-box6">
    <div class="main-container10">
        <div class="container-q">
            KINOUS　　　
        </div>
        <div class="container-r">
            <p><span class="midasi5">健康効果一覧<br>
        </div>
    </div>
    
    <div class="main-container11">
        <div class="container-s">
            <div class="image">
            <%= image_tag 'kou.jpg', class:"ks" %>
            </div>
        </div>
        <div class="container-t">
            <%= link_to "ホーム　・　健康効果一覧", root_path %>
            
        </div>
    </div>
</div>


<div class="u9">
    <h2>健康効果カテゴリー</h2>
</div>
<div class="u10">
    <p>健康効果を下記の４つのカテゴリーに分け、その効果が報告されている成分・食品をまとめました。<br>
</div>
<div class="main-box17">
    <div class="main-box16">
        <div class="u11">
            <br><br><br><br><br><br>
            
            <span class="midasik"><a href="#title"><h2>ダイエット</h2></a></span>
            <br>
            <p>　　　　・体脂肪を減らす<br>
            <p>　　　　・中性脂肪を抑える<br>
            <p>　　　　・血糖値の上昇を抑える<br>
        </div>
        <div class="u12">
            <br><br><br><br><br><br>
            <span class="midasik"><a href="#title2"><h2>精神・記憶</h2></a></span>
            <p>　　　　・ストレス・緊張の緩和<br>
            <p>　　　　・血圧のサポート<br>
            <p>　　　　・疲労感を軽減<br>
            <p>　　　　・睡眠の質の向上<br>
            <p> 　　　　・記憶の精度を高める<br>
        </div>
    </div>
    <div class="main-box18">
        <div class="u13">
            <br><br><br><br><br><br>
            <span class="midasik"><a href="#title3"><h2>肌・免疫</h2></a></span>
            <br>
            <p>　　　　・肌のうるおい<br>
            <p>　　　　・免疫機能の維持<br>
            <p>　　　　・口腔内環境を良好に保つ<br>
            <br><br><br>
        </div>
        <div class="u14">
            <br><br><br><br><br><br>
            <span class="midasik"><a href="#title4"><h2>腹・内臓</h2></a></span>
            <br>
            <p>　　　　・お腹の調子を整える<br>
            <p>　　　　・健康な肝臓の機能を維持<br>
            <br><br><br>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="u10">
    <p><br>
</div>
<div class="main-box9">
    <div class="main-container16">
        <div class="container-aa-k">
            <div class="image">
            <%= image_tag 'da.jpg', class:"aa-k" %>
            </div>
        </div>
    </div>
    <div class="main-container17">
        <div class="container-kbb">
            <div id="title"><p>CATEGORY 01<br></div>
            <p><span class="midasi6">ダイエット<br>
        </div>
        <div class="container-cc">
            <h4>・体脂肪を減らす</h4>
            <p>ローズヒップ由来ティリロサイド：ハーブティー<br>
            <p>茶カテキン：緑茶<br>
            <br>
            <h4>・中性脂肪を抑える</h4>
            <p>DHA・EPA：青魚（イワシ・アジ・サバなど）<br>
            <p>難消化性デキストリン：食物繊維（海藻など）<br>
            <br>
            <h4>・血糖値の上昇を抑える</h4>
            <p>ミネラル成分（マンガン、クロム、リン、カリウム、亜鉛）<br>
            <p>：タマネギ、オクラ、五穀など<br>
            <p>茶カテキン：緑茶<br>
            <p>紅茶ポリフェノール：紅茶飲料<br>
        </div>
    </div>
    
</div>
<div class="main-box10">
    <div class="main-container18">
        <div class="container-kdd">
            <div id="title2"><p>CATEGORY 02<br></div>
            <p><span class="midasi6">精神・記憶<br>
        </div>
        <div class="container-kee">
            <h4>・ストレス・緊張の緩和</h4>
            <p>GABA：じゃがいも、かぼちゃ、トマト、茶など<br>
            <p>Ｌ-テアニン：緑茶<br>
            <br>
            <h4>・血圧のサポート</h4>
            <p>カリウム：ほうれん草、ナッツ、春菊<br>
            <p>納豆菌由来ナットウキナーゼ：納豆<br>
            <p>EPA・DHA：青魚（イワシ・アジ・サバなど）<br>
            <br>
            <h4>・疲労感を軽減</h4>
            <p>酢酸：酢<br>
            <p>ビタミンB1＋アリシン：豚肉・ネギ・ニンニクなど<br>
            <br>
            <h4>・睡眠の質の向上</h4>
            <p>GABA：じゃがいも、かぼちゃ、トマト、茶など<br>
            <p>乳酸菌：乳酸菌飲料、ヨーグルトなど<br>
            <br>
            <h4>・記憶の精度を高める</h4>
            <p>Ｌ-テアニン：緑茶<br>
            <p>EPA・DHA：青魚（イワシ・アジ・サバなど）<br>
        </div>
    </div>
    <div class="main-container19">
        <div class="container-kff">
            <div class="image">
            <%= image_tag 'se.jpg', class:"kff" %>
            </div>
        </div>
    </div>
</div>
<div class="main-box11">
    <div class="main-container20">
        <div class="container-gg">
            <div class="image">
            <%= image_tag 'men.jpg', class:"kgg" %>
            </div>
        </div>
    </div>
    <div class="main-container21">
        <div class="container-khh">
            <div id="title3"><p>CATEGORY 03<br></div>
            <p><span class="midasi6">肌・免疫<br>
        </div>
        <div class="container-kii">
            <h4>・肌のうるおい</h4>
            <p>エラスチン：牛すじ<br>
            <p>イソフラボン：大豆<br>
            <p>セラミド：こんにゃく<br>
            <br>
            <h4>・免疫機能の維持</h4>
            <p>乳酸菌：乳酸菌飲料、ヨーグルトなど<br>
            <br>
            <h4>・口腔内環境を良好に保つ</h4>
            <p>エピガロカテキンガレート（EGCg）：緑茶<br>
            <p>乳酸菌：乳酸菌飲料、ヨーグルトなど<br>
        </div>
    </div>
    
</div>
<div class="main-box12">
    <div class="main-container22">
        <div class="container-kjj">
            <div id="title4"><p>CATEGORY 04<br></div>
            <p><span class="midasi6">腹・内臓<br>
        </div>
        <div class="container-kkk">
            <h4>・お腹の調子を整える</h4>
            <p>乳酸菌：乳酸菌飲料、ヨーグルト<br>
            <p>水溶性食物繊維：キャベツや大根などの野菜、果物、<br>
            <p>大豆、いも類、海藻<br>
            <p>不溶性食物繊維：大豆、ごぼう、パセリ、穀類<br>
            <br>
            <h4>・健康な肝臓の機能を維持</h4>
            <p>タウリン：魚介類（貝類やタコ・エビなど）<br>
            <p>ビタミンA：緑黄色野菜・ウナギ<br>
            <p>ビタミンC：レモン・パセリ・みかん・ブロッコリーなど<br>
            <p>ビタミンE：アーモンド・大豆類・青魚・ブロッコリーなど<br>
        </div>
    </div>
    <div class="main-container23">
        <div class="container-kll">
            <div class="image">
            <%= image_tag 'hara.jpg', class:"kll" %>
            </div>
        </div>
    </div>
</div>
<br><hr class="style"><br>