<body2>
    <div class="main-box6">
        <div class="main-container10">
            <div class="container-q">
                KINOUS　　　
            </div>
            <div class="container-r">
                <p><span class="midasi5">健康を考えるうえで無視<br>
                <p><span class="midasi5">できない成分<br>
                <p>健康機能を担う成分<br>
            </div>
        </div>
        
        <div class="main-container11">
            <div class="container-s">
                <div class="image">
                <%= image_tag 'hirogeru.jpg', class:"s" %>
                </div>
            </div>
            <div class="container-t">
                <%= link_to "ホーム　・　健康機能を担う成分", root_path %>
                
            </div>
        </div>
    </div>
    <div class="main-box7">
        <div class="main-container12">
            <div class="container-u">
                <div class="image">
                <%= image_tag 'seibunn.jpg', class:"u" %>
                </div>
            </div>
        </div>
        <div class="main-container13">
            <div class="container-v">
                <p><span class="midasi6">機能性成分とは？<br>
            </div>
            <div class="container-w">
                <p>食品（食材）には大きく分けて三つの機能があり、第一の機能は、生命の維持<br>
                <p>に不可欠なエネルギーとしての栄養機能。第二の機能は、「おいしさ」を満足<br>
                <p>させる味や香りの感覚機能。そして、第三の機能として、近年にわかに注目<br>
                <p>されているのが、食品の生体調節機能です。具体的には、免疫力を高め、<br>
                <p>高血圧やガンなどを防ぎ、神経系や消化機能を調節したり、老化抑制などの<br>
                <p>機能のことで食品（食材）の『機能性』に重視した『成分』を総称して<br>
                <p>『機能性成分』と言われます<br>
                <p>ここでは数多くある機能性成分の中で、主要なものを７つ紹介します。<br>
            </div>
        </div>
    </div>
    <div class="main-box8">
        <div class="main-container14">
            <div class="container-x">
                <p>Substance 01<br>
                <p><span class="midasi6">乳酸菌<br>
            </div>
            <div class="container-y">
                <p>　乳酸菌のもつ主な機能性として、産生物質（乳酸や酢酸などの有機酸）による「消化<br>
                <p>管内フローラ改善作用」、菌体や菌体成分による「免疫力調節作用」、菌体や乳酸菌<br>
                <p>がつくる有効成分による「生活習慣病関連因子の正常化作用」があります。乳酸菌は<br>
                <p>主にこの3つの作用を通してヒトの健康の維持・増進に寄与しています。<br>
                <p>　具体的には、便秘や下痢の改善、食中毒や長官感染症の予防、花粉症などの<br>
                <p>アレルギー症状を抑えるといった機能が報告されています。<br>
            </div>
        </div>
        <div class="main-container15">
            <div class="container-z">
                <div class="image">
                <%= image_tag 'nyusan.jpg', class:"z" %>
                </div>
            </div>
        </div>
    </div>
    <div class="main-box9">
        <div class="main-container16">
            <div class="container-aa">
                <div class="image">
                <%= image_tag 'seni.jpg', class:"aa" %>
                </div>
            </div>
        </div>
        <div class="main-container17">
            <div class="container-bb">
                <p>Substance 02<br>
                <p><span class="midasi6">食物繊維<br>
            </div>
            <div class="container-cc">
                <p>　食物繊維は大きく分けると水に溶ける水溶性食物繊維と、水に溶けない不溶性食<br>
                <p>物繊維の2種類に大別されます。<br>
                <p>　水溶性食物繊維は、果物や野菜などに多く含まれ、摂取した食品の胃での滞留時<br>
                <p>間を長くさせる働きがあります。また、糖質の吸収を抑制するため、血糖値の上昇<br>
                <p>を緩やかにします。コレステロールの吸収も妨げ、体外に排出されやすくする働き<br>
                <p>もあるため、糖尿病や脂質異常症の予防に役立ちます。<br>
                <p>　不溶性食物繊維は、ごぼうなど繊維の多い野菜に含まれるセルロースがあり、<br>
                <p>飲み込んだ時の形をほとんど変えることなく腸まで達します。そして水分を吸収<br>
                <p>して膨張し、腸を刺激してぜん動運動を盛んにするため、摂取した食品の通過時間<br>
                <p>を短縮させます。さらに便の排泄を促す作用もあり、腸内環境を改善する効果が<br>
                <p>あります。<br>
            </div>
        </div>
        
    </div>
    <div class="main-box10">
        <div class="main-container18">
            <div class="container-dd">
                <p>Substance 03<br>
                <p><span class="midasi6">ポリフェノール<br>
            </div>
            <div class="container-ee">
                <p>　ポリフェノールとは、ほとんどの植物に含まれている苦みや色素の成分です。<br>
                <p>効果は、抗酸化作用があり、日々の体の老化を防ぎ、がんや生活習慣病などの病気の<br>
                <p>リスクを低下させることが期待されています。代表的なものには、お茶に含まれる<br>
                <p>カテキンやブドウの皮やブルーベリーに含まれるアントシアニン、大豆に含まれる<br>
                <p>イソフラボン、コーヒーに含まれるクロロゲン酸などがあります。抗酸化作用以外にも、<br>
                <p>大豆に含まれるイソフラボンには女性ホルモンの欠乏を補う効果が期待されていたり、<br>
                <p>コーヒーに含まれるクロロゲン酸は、肝臓での脂肪燃焼を促進する作用や糖の吸収を<br>
                <p>遅らせる働きも期待されてます。<br>
            </div>
        </div>
        <div class="main-container19">
            <div class="container-ff">
                <div class="image">
                <%= image_tag 'otya.jpg', class:"ff" %>
                </div>
            </div>
        </div>
    </div>
    <div class="main-box11">
        <div class="main-container20">
            <div class="container-gg">
                <div class="image">
                <%= image_tag 'mikan.jpg', class:"gg" %>
                </div>
            </div>
        </div>
        <div class="main-container21">
            <div class="container-hh">
                <p>Substance 04<br>
                <p><span class="midasi6">β‐クリプトキサンチン<br>
            </div>
            <div class="container-ii">
                <p>β-クリプトキサンチンとは、みかんに含まれるだいだい色の色素で、<br>
                <p>カロテノイドの一種です。<br>
                <p>効果は、骨粗しょう症を予防する効果、糖尿病の進行を抑制する効果、<br>
                <p>免疫力を高める効果、美肌効果などが報告されています。<br>
                <p>温州みかん、でこぽん、ぽんかん、パパイヤなどに多く含まれています。<br>
            </div>
        </div>
        
    </div>
    <div class="main-box12">
        <div class="main-container22">
            <div class="container-jj">
                <p>Substance 05<br>
                <p><span class="midasi6">GABA（γ-アミノ酪酸）<br>
            </div>
            <div class="container-kk">
                <p>GABAとはアミノ酸の一種で、リラックス効果や血圧を下げる効果、ストレスを<br>
                <p>軽減させる効果などがあるとして注目されている成分です。<br>
                <p>GABAはもともと人間の体内に存在している成分ですが、漬物や味噌などの発酵食品<br>
                <p>にも含まれています。​特にGABAは発芽玄米に多く含まれており、その含有量は、<br>
                <p>白米や玄米の数倍といわれています。<br>
            </div>
        </div>
        <div class="main-container23">
            <div class="container-ll">
                <div class="image">
                <%= image_tag 'kome.jpg', class:"ll" %>
                </div>
            </div>
        </div>
    </div>
    <div class="main-box13">
        <div class="main-container24">
            <div class="container-mm">
                <div class="image">
                <%= image_tag 'sanma.jpg', class:"mm" %>
                </div>
            </div>
        </div>
        <div class="main-container25">
            <div class="container-nn">
                <p>Substance 06<br>
                <p><span class="midasi6">EPA（ドコサヘキサエン酸）<br>
            </div>
            <div class="container-oo">
                <p>EPAは青魚に豊富に含まれる必須脂肪酸で、体内で合成することができない成分です。<br>
                <p>EPAには高い血小板凝集抑制効果があり、血栓をつくらせない働きがあります。<br>
                <p>他にも心筋梗塞や虚血性心疾患など、生活習慣病予防の効果があります。抗炎症作用<br>
                <p>や免疫力を高める作用があり、炎症を引き起こしたり白血球の活性化に関わる因子の<br>
                <p>働きを抑制することで、病気の発症を抑えたり、改善すると期待されています。<br>
                <p>アトピー性皮膚炎や花粉症、喘息といったアレルギー症状の緩和にも効果があるという<br>
                <p>報告や、精神を安定させる効果も期待されています。<br>
                <p>EPAを多く含む食品はいわし、さば、あじ、さんま、まぐろ、かつおなどの青魚などです。<br>
            </div>
        </div>
        
    </div>
    <div class="main-box14">
        <div class="main-container26">
            <div class="container-pp">
                <p>Substance 07<br>
                <p><span class="midasi6">イミダゾールジペプチド<br>
            </div>
            <div class="container-qq">
                <p>イミダゾールペプチドとは2つ以上のアミノ酸が結合したペプチドで、鳥類や魚類<br>
                <p>を含めた動物の筋肉に含まれており、動物の脳や心臓、肝臓や腎臓、神経系や骨格<br>
                <p>筋など広く分布しています。<br>
                <p>イミダゾールペプチドの最大の特徴は、疲労を溜まりにくくすることです。筋肉中<br>
                <p>の疲労物質である乳酸の分解を促進し、疲労感を軽減します。また、体内の老廃物<br>
                <p>である尿酸の量を調節して、過剰な尿酸を排泄してくれる働きがあるため、尿酸値<br>
                <p>
                の抑制に効果があります。身近な食品では、特に鳥の胸肉・まぐろ・かつおなどの<br>
                <p>魚肉に多く含まれています。<br>
            </div>
        </div>
        <div class="main-container27">
            <div class="container-rr">
                <div class="image">
                <%= image_tag 'tori.jpg', class:"rr" %>
                </div>
            </div>
        </div>
    </div>
    <br><hr class="style2"><br>
</body2>
