<body>
 <div class="image">
 <%= image_tag 'samunee.jpg', class:"a" %>
 </div>
 <div class="main-box">
  <div class="container">
    <a href="setumei/about">
    <%= image_tag 'omoi.jpg', class:"b" %>
    </a>
   </div>
   <div class="container-a">
    <a href="setumei/seibun">
    <%= image_tag 'seibun.jpg', class:"c" %>
    </a>
  </div>
  <div class="line"></div>
  <div class="main-container">
    <div class="container-b">
        <a href="setumei/kouka">
        <%= image_tag 'kouka.jpg', class:"d" %>
        </a>
    </div>
    <div class="container-c">
        様々な効果
        <a href="setumei/kouka">
        <h3>健康効果一覧　　　　　　　　　　　　　　›</h3>
        </a>
    </div>
    <div class="container-d">
        <a href="kinous">
        <%= image_tag 'review.jpg', class:"d" %>
        </a>
    </div>
  </div>
 </div>

 <div class="main-box2">
  <div class="container2">
    ABOUT
    <a href="setumei/about">
    <h3>サイトの想い　　　　　　　　　　　　　›</h3>
    </a>
   </div>
   <div class="container-a2">
    機能性成分とは
    <a href="setumei/seibun">
    <h3>健康機能を担う成分　　　　　　　　　　›</h3>
    </a>
   </div>
   <div class="container-a3">
        ユーザーの反応
        <a href="kinous">
        <h3>機能性成分を含む製品レビュー　　　　　　›</h3>
        </a>
    </div>
  </div>
 </div>
</body>
