
<body>
 <div class="image">
 <%= image_tag 'samunee.jpg', class:"A" %>
 </div>

  <div class="main-box">
    <div class="main-container1">
      <div class="container-a">
       <a href="setumei/about">
       <%= image_tag 'omoi.jpg', class:"a" %>
       </a>
      </div>
      <div class="container-b">
       ABOUT
       <a href="setumei/about">
       <h3><span class="font_test">サイトの想い　　　　　　　　　　　›</h3>
       </a>
      </div>
    </div>

    <div class="main-container2">
      <div class="container-a2">
       <a href="setumei/seibun">
       <%= image_tag 'seibun.jpg', class:"a" %>
       </a>
      </div>
      <div class="container-b2">
       機能性成分とは
       <a href="setumei/seibun">
       <h3><span class="font_test">健康機能を担う成分　　　　　　　　›</h3>
       </a>
      </div>
    </div>

    <div class="line"></div>

    <div class="main-container3">
      <div class="container-c">
        <a href="setumei/kouka">
        <%= image_tag 'kouka.jpg', class:"c" %>
        </a>
      </div>
      <div class="container-d">
        様々な効果
        <a href="setumei/kouka">
        <h3><span class="font_test">健康効果一覧　　　　　　　　　　　›</h3>
        </a>
      </div>
      <div class="container-c2">
        <a href="kinous">
        <%= image_tag 'review.jpg', class:"c" %>
        </a>
      </div>
      <div class="container-d2">
        ユーザーの反応
        <a href="kinous">
        <h3><span class="font_test">機能性成分を含む製品レビュー　　　›</h3>
        </a>
      </div>
    </div>
  </div>

  <br><hr class="style"><br>


  <div class="main-box2">
    <div class="main-container4">
      <div class="container-e">
        ABOUT
        <p><span class="midasi">さらなる健康を求めて。<br>
      </div>
      <div class="container-f">
        <p>今よりもっと豊かな生活を送るために、<br>
        <p>少しずつでもできることを。<br>
        <p> <br>
        <p>このサイトでは健康成分の紹介を通じて、<br>
        <p>あなたの健康を支える一助になることを目指しています。<br>
      </div>
      <div class="container-g">
        <a href="setumei/about">
        <p><span class="p_underline">サイトの想い　　　　　　　　　　　　　　　　›<br>
        </a>
      </div>
    </div>

    <div class="main-container5">
      <div class="container-h">
        <a href="setumei/about">
        <%= image_tag 'kennkou.jpg', class:"h" %>
        </a>
      </div>
    </div>
  </div>

  <br><hr class="style2"><br>

  <div class="main-box3">
    MAIN CONTENTS
    <p><span class="midasi2">機能性成分とユーザーレビュー<br>
  </div>

  <div class="main-box4">
    <div class="main-container6">
      <div class="container-i">
        <a href="setumei/seibun">
        <%= image_tag 'kenkou.jpg', class:"i" %>
        </a>
      </div>
    </div>
    <div class="main-container7">
      <div class="container-j">
        機能性成分とは
        <p><span class="midasi3">健康を考えるうえで無視<br>
        <p><span class="midasi3">できない成分<br>
      </div>
      <div class="container-k">
        <p>”機能性成分”とは健康を維持するための機能を<br>
        <p>持つ成分のことです。<br>
        <p> <br>
        <p>近年、老齢人口の増加とともに予防医学の重要性が<br>
        <p>高まっており、健康ブームが来ているといえます。<br>
        <p> <br>
        <p>そのため、”機能性成分”を含む健康食品のCMが流れたり、<br>
        <p>コンビニやドラッグストアで健康食品を<br>
        <p>目にすることも多いのではないでしょうか。<br>
        <p> <br>
        <p>そうした背景から、<br>
        <p>”機能性成分”は多様化する健康問題解決に向けての<br>
        <p>糸口になると期待されています。<br>
      </div>
      <div class="container-l">
        <a href="setumei/seibun">
        <p><span class="p_underline2">健康機能を担う成分　　　　　　　　　　›<br>
        </a>
      </div>
    </div>
  </div>


  <div class="main-box5">
    <div class="main-container8">
      <div class="container-m">
        ユーザーの投稿
        <p><span class="midasi4">ユーザーの”ナマ”の声<br>
        <p><span class="midasi4">から考える<br>
      </div>
      <div class="container-n">
        <p>”機能性成分”の健康機能の研究では、<br>
        <p>ヒトでの有効性には年齢や性別、体型など<br>
        <p>多くの要素が関係しており、<br>
        <p>一概に効果が得られるとは言い難く、<br>
        <p>最終的な科学的根拠を得たものは非常に少ないのが現状です。<br>
        <p> <br>
        <p>そのため、実際にユーザーの”声”を投稿・閲覧することで<br>
        <p>有効性の有無の参考になれば幸いです。<br>
      </div>
      <div class="container-o">
        <a href="kinous">
        <p><span class="p_underline">機能性成分を含む製品レビュー　　　　　　　　　›<br>
      </div>
    </div>

    <div class="main-container9">
      <div class="container-p">
        <a href="kinous">
        <%= image_tag 'koe.jpg', class:"p" %>
        </a>
      </div>
    </div>
  </div>

  <br><hr class="style3"><br>
</body>
