<%= form_for @kinou do |f| %>
  <div class="field">
    <%= f.label :name  %>
    <%= f.text_field :name, :size => 30 %>
  </div>

  <div class="field">
   <%= f.label :genre  %>
   <%= f.text_field :genre, :size => 30 %>
  </div>

  <div class="field">
   <%= f.label :about  %>
   <%= f.text_area :about, :size => "50x10" %>
  </div>

  
  
  <div class="field">
   <%= f.label :age  %>
   <%= f.text_field :age, :size => 30 %>
  </div>

  <div class="field">
   <%= f.label :sex  %>
   <%= f.text_field :sex, :size => 30 %>
  </div>

  <div class="field">
   <%= f.label :weight  %>
   <%= f.text_field :weight, :size => 30 %>
  </div>

  <div class="field">
   <%= f.label :height  %>
   <%= f.text_field :height, :size => 30 %>
  </div>

  <div class="field">
   <%= f.label :frequency  %>
   <%= f.text_field :frequency, :size => 30 %>
  </div>

  <div class="field">
   <%= f.label :period  %>
   <%= f.text_field :period, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>



  <div class='form-group'>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
     <div class='form-check'>
         <%= tag.label class: 'form-check-label' do %>
             <%= tag.check_box class: 'form-check-input' %>
             <%= tag.text %>
         <% end %>
     </div>
  <% end %>
 </div>

  <%= f.submit "編集する" %>
<% end %>
<%= link_to "一覧に戻る", kinous_path %>