<h1>機能性表示食品紹介</h1>
<div class="box">
  <h2>投稿一覧ページ</h2>
</div>
<div class="box00">
  <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
</div>
<div class="box-0">
  <%= link_to "トップページへ", root_path %>　　
  <%= link_to "新規投稿へ", new_kinou_path %>　　
  <% if user_signed_in? %>
    <%= link_to "マイページへ", user_path(current_user.id) %>
  <% end %>
</div>

<p><hr class="sty"><br>
<div class="bao">
  <div class="box-1">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>ユーザーの投稿を検索</h2>
    <br>
    <h5>・検索したい言葉を入力してください</h5>
    <%= form_tag({controller:"kinous",action:"index"}, method: :get) do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索する'  %>
    <% end %>
    <br><hr class="styleind"><br>
    <br>
    <h5>・検索したいタグを選択してください</h5>
    <%= form_tag({controller:"kinous",action:"index"}, method: :get) do %>
      <% Tag.all.each do |t| %>
          <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
      <% end %>
      <%= submit_tag '検索' %>
    <% end %>
    <p>　<br>
    
  </div>
  <br>
  <br>
</div>
<p><hr class="sty"><br>


<div class="box000">
  <h2>ユーザーの投稿一覧</h2>
</div>

<div class="kinous-container">
  <% @kinous.each do |t| %>
    
    <div class="kinou">
      <div class="mainboxxx">
        <div class="mainboxx">
          
          <div class="boxx">
            <br>
            <h4><span class="p_underline4">　商品情報　</h4>
            <p><span class="p_u">商品名：</span><%= t.name %><br>
            <p><span class="p_u">機能性成分名：</span><%= t.genre %><br>
            <p><%= image_tag t.image_url, size: "300x250" if t.image? %><br>
            <% t.tags.each do |tag| %>
              <p><span class="p_u">健康効果タグ：</span><%= tag.name %><br>
            <% end %> 
          </div>
          
          
          <div class="boxxx">
            <br>
            <br>
            <h4><span class="p_underline4">　投稿者情報　</h4>
            <p><span class="p_u">投稿者名：</span><%= t.user.name %><br>
            <p><span class="p_u">年齢：</span><%= t.age %>歳<br>
            <p><span class="p_u">性別：</span><%= t.sex %><br>
            <p><span class="p_u">体重：</span><%= t.weight %>kg<br>
            <p><span class="p_u">身長：</span><%= t.height %>cm<br>
            <p><span class="p_u">商品の摂取頻度：</span><%= t.frequency %><br>
            <p><span class="p_u">商品の摂取期間：</span><%= t.period %><br>
          </div>
        </div>
      </div>
        <div class="main2">
          <div class="mainboxx2">
            <br>
            <p><span class="p_u">商品の説明：</span><%= t.about %><br>
            <br>
          </div>
        </div>
    </div>
    


    
      <div class="mainboxx3">
            <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
                <%= button_to kinou_like_path(id: t.id, kinou_id: t.id), method: :delete do %>
                  <i class="fas fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% else %>
                <%= button_to kinou_likes_path(id: t.id, kinou_id: t.id), method: :post do %>
                  <i class="fas fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% end %>

            <% else %>
                <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
      </div>
      
    <div class="box-00">
        <%= link_to "詳細へ　", kinou_path(t.id) %>
        <% if user_signed_in? && current_user.id == t.user_id %>
            <%= link_to "編集する", edit_kinou_path(t.id) %>
    </div>
    <p><hr class="sty"><br>
    <div class="box-00">
        <%= button_to "削除する", kinou_path(t.id), method: :delete %>
        <br>
        <br>
        <% end %>
        </div>
        <% end %>
    </div>
    <p><hr class="styy"><br>
</div>