<!DOCTYPE html>
<html>
  <head>
    <title>Tokuho</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1a4bdf9190.js" crossorigin="anonymous"></script>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1> </h1>
      <div class="header-list">
      <ul>
        <%= link_to "ホーム", root_path %>
        <%= link_to "ログイン", kinous_path %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "新規投稿",new_kinou_path %>
      </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="aaa">
      <div class="footer-list">
        KINOUS
        </div>
      <div class="contents">
        <div class="bbb">
          <h5>HOME</h5>
          <h3><span class="p_underline"><%= link_to "トップページ　　　　　　　　　　　　　　　　　　　　　　　　　　　›", root_path %>
          </h3>
        </div>
        <div class="bbb">
          <h5>ABOUT</h5>
          <h3><span class="p_underline"><%= link_to "サイトの想い　　　　　　　　　　　　　　　　　　　　　　　　　　　›", setumei_about_path %></h3>
        </div>
        <div class="bbb">
          <h5>MAIN CONTENTS</h5>
          <h3>
          <%= link_to "健康機能を担う成分　　　　　　　　　　　　　　　　　　　　　　　　›", setumei_seibun_path %><br>
          <%= link_to "健康効果一覧　　　　　　　　　　　　　　　　　　　　　　　　　　　›", setumei_kouka_path %><br>
          <span class="p_underline"><%= link_to "機能性成分を含む製品レビュー　　　　　　　　　　　　　　　　　　　›", kinous_path %></h3>
        </div>
        <br><hr class="style1"><br>
      </div>
    </footer>
  

  </body>
</html>
