<div class="main-boxu1">
  <div class="container-u1">
    KINOUS
  </div>
  <div class="container-u2">
    <%= link_to "ホーム　・　機能性成分を含む製品レビュー", root_path %>
  </div>
</div>
<div class="main-boxu2">
  <div class="container-u3">
   Create Account
  </div>
  <div class="container-u4">
    <form action="">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :お名前 %><br />
          <%= f.text_field :name, autofocus: true %>
          
        </div>
        <br>
        <div class="field">
          <%= f.label :メール %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
         
        </div>
        <br>
        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
         
        </div>
        <br>
        <div class="field">
          <%= f.label :パスワード_再入力 %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          
        </div>
        <br>
        <div class="actions">
          <%= f.submit "登録する" %>
          
        </div>
        <br>
      <% end %>
      
    </form>
    
  </div>
  
</div>
